<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.UserMapper">
  <cache flushInterval="60000" eviction="soft" blocking=""  >
    <property name="" value=""/>
  </cache>
  <!--
    情景A
      普通字段对应属性
      构造方法
      继承关系
  -->
  <resultMap id="useContruct" type="user" >
    <constructor>
      <idArg column="id" javaType="int"/>
      <arg column="username" javaType="string"/>
    </constructor>
  </resultMap>

  <resultMap id="useField" type="user">
    <id column="id" property="id"/>
    <result column="username" property="username"/>
    <result column="money" property="account.money"/>
  </resultMap>

  <resultMap id="teacherExUser" type="teacher" extends="useField">
    <result column="userid" property="userid"/>
  </resultMap>

  <!--
    情景B
      1对1
      1对多
  -->
  <resultMap id="userAllMap" type="user" autoMapping="true" extends="useField">
    <association property="account" javaType="account" autoMapping="true">
      <id column="userid" property="userid"/>
    </association>
    <collection property="roles" ofType="role" autoMapping="true">
      <id column="rid" property="id"/>
    </collection>
  </resultMap>



  <!--
    情景C 鉴别器
  -->
  <resultMap id="useDiscriminator" type="user" autoMapping="true">
    <discriminator javaType="int" column="user_type">
      <case value="1" resultType="teacher">
        <id column="id" property="userid"/>
        <result column="tea_num" property="num"/>
        <result column="tea_subject" property="subject"/>
      </case>
      <case value="2" resultType="student">
        <id column="id" property="userid"/>
        <result column="stu_num" property="num"/>
      </case>
    </discriminator>
  </resultMap>

  <select id="findAll" resultType="user">
      select * from user
  </select>

  <select id="findAllWithContruct" resultMap="useContruct">
      select * from user
  </select>

  <select id="findAllWithFields" resultMap="useField">
      select * from user
  </select>

  <select id="findAllTeacher" resultMap="teacherExUser">
      select * from teacher t
      left join user u on t.userid = u.id
  </select>

  <select id="findAllUserRoleAccount" resultMap="userAllMap">
      select u.*,r.id rid,r.role_name roleName,a.* from user u
      left join user_role ur on u.id = ur.user_id
      left join role r on ur.role_id = r.id
      left join user_account a on u.id = a.uid
  </select>

  <select id="findAllUserEx" resultMap="useDiscriminator">
      select u.*,tea.`subject` tea_subject,tea.num tea_num,stu.num stu_num from user u
      left join teacher tea on tea.userid = u.id
      left join student stu on stu.userid = u.id
  </select>

  <select id="findUserByCondition" resultMap="useField">
     select * from user u
     left join user_account  a on u.id = a.uid
     where a.money &gt;= #{account.money}
  </select>
</mapper>
